RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /BoletasGarantia/index.php/$1 [L]
    ErrorDocument 404 /BoletasGarantia/index.php